# Driver configuration
DRIVER_KIND=fs

# Server configuration
STORAGE_REMOTE_ADDRESS=0.0.0.0:50070
STORAGE_REMOTE_TLS=0
STORAGE_REMOTE_TOKEN=secret-token-change-me
STORAGE_GRPC_MAX_MSG_MB=64

# FS Driver configuration
APP_STORAGE_FS_ROOT=/tmp/ytstorage_data

# S3 configuration
S3_ENDPOINT_URL=http://127.0.0.1:9000
S3_ACCESS_KEY_ID=admin
S3_SECRET_ACCESS_KEY=SECRET
S3_BUCKET_NAME=yurtube-bucket

# Metadata
VERSION=1.0.0